<app-header></app-header>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <label for="">Name::</label>
            <input type="text" class="form-control" placeholder="Enter the Name"><br>

            <label for="">Status::</label>
            <input type="text" class="form-control" placeholder="Enter the Status"><br>

            <label for="">Department::</label>
            <input type="text" class="form-control" placeholder="Enter the Department"><br>

            <label for="">Mobileno::</label>
            <input type="tel" class="form-control" placeholder="Enter the Mobileno"><br>

            <label for="">Email Id::</label>
            <input type="email" class="form-control" placeholder="Enter the Email Id"><br>

            <label for="">salary::</label>
            <input type="number" class="form-control" placeholder="Enter the salary"><br>

            <select class="form-control" name="" id="">
                <option value="">nsdvg</option>

            </select>
            <br>
            <button class="btn btn-success">Submit</button>
            

        </div>
    </div>
</div>
